Simple SQL CRUD

In [1]:
import mysql.connector as sql

connection = sql.connect(
    host = "localhost",
    user = "root",
    password = "root",
    database = "student"
)

print(connection)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001FF94B165D0>

cursor() creates a cursor object associated with the database connection. The cursor is then used to execute SQL queries and fetch results.

In [2]:
cursor = connection.cursor()

To create or doing any operations in the database, we use cursor.execute method.

In [3]:
cursor.execute(
    "CREATE table if not exists studentInfo (id int auto_increment primary key, name varchar(225), class varchar(3))"
)

Inserting Records in the table (.execute())

.commit() method is called on the database connection to commit the changes. If you don't call .commit(), the changes made by your queries won't be saved permanently.

In [4]:
query = "insert into studentinfo (name , class) values(%s,%s)"
value = ("Amit","XII")
cursor.execute(query,value)
connection.commit()

INSERT multiple tuples(.executemany())

In [5]:
query = "INSERT INTO studentinfo (name, class) values (%s,%s)"
values = [("Ankit", "XII"),
        ("Akash", "V"),
        ("Sumit","IV"),
        ("Kokan","IX"),
        ("Yash","X"),
        ("Suresh","XI")]
cursor.executemany(query,values)
connection.commit()

FETCH data from table

In [6]:
cursor.execute("Select * from studentinfo")
cursor.fetchall()

[(1, 'Amit', 'XII'),
 (2, 'Ankit', 'XII'),
 (3, 'Akash', 'V'),
 (4, 'Sumit', 'IV'),
 (5, 'Kokan', 'IX'),
 (6, 'Yash', 'X'),
 (7, 'Suresh', 'XI')]

In [7]:
cursor.execute("Select * from studentinfo where name='Amit'")
cursor.fetchall()

[(1, 'Amit', 'XII')]

In [8]:
cursor.execute("Select name from studentinfo")
cursor.fetchall()

[('Amit',),
 ('Ankit',),
 ('Akash',),
 ('Sumit',),
 ('Kokan',),
 ('Yash',),
 ('Suresh',)]

In [9]:
cursor.execute("SELECT DISTINCT class from studentinfo")
cursor.fetchall()

[('XII',), ('V',), ('IV',), ('IX',), ('X',), ('XI',)]

Drop the table

In [10]:
cursor.execute("DROP TABLE studentinfo")

In [11]:
cursor.close()

True